.chat-details {
  height: 100vh;
  overflow: auto;
  .chat-wrap {
    background-color: #f0f0f0;
    padding-bottom: 50px;
  }
  .detail-content {
    overflow: hidden;
    padding: 10px;
    line-height: 1;
    .left,
    .right {
      display: flex;
      flex-wrap: wrap;
    }
    .left {
      left: 0px;
      .nameandwords {
        justify-content: flex-start;
        margin-left: 10px;
      }
    }
    .right {
      right: 0px;
      text-align: right;
      flex-direction: row-reverse;
      .nameandwords {
        margin-right: 10px;
      }
    }
    .nameandwords {
      width: (355-100)/355 * 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    .nick-name {
      font-size: 12px;
      color: #aaa;
      margin-bottom: 5px;
      width: 100%;
    }
    .chat-words,
    .own-chat-words {
      border-radius: 5px;
      line-height: 1.4;
      font-size: 16px;
      padding: 7px 7px;
      max-width: 100%;
      background-color: #fff;
    }
    .chat-words {
    }
    .own-chat-words {
      background-color: #95ec69;
      text-align: left;
    }
  }
}
