@import "root.scss";
.findpage-wrap {
  // background-color: #f0f0f0;
  background-color: $backcolor;
  min-height: 100vh;
  .findpage-item {
    display: flex;
    height: 55px;
    line-height: 55px;
    background-color: #fff;
    padding-left: 16px;
  }
  .findpage-left-wrap {
    display: flex;
    align-items: center;
    p {
      margin-left: 10px;
    }
  }
  .findpage-remind {
    margin-left: 16px;
    flex: 1;
    > p {
    }
  }
  .border-bottom {
    border-bottom: $borderbottom;
  }
}
