$degzero: 0deg;
$deg90: 90deg;
$deg180: 180deg;
$deg360: 360deg;
.dragdiv {
  width: 100px;
  height: 100px;
  // border: 0.5px solid #333;
  background-image: linear-gradient(0deg, #2ecc71, #3498db);
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 50px;
  user-select: none;
  cursor: pointer;
  // animation: 20s loop-animation infinite;
}
.dragdiv::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  // right: 0rem;
  // bottom: 0rem;
  width: 96px;
  height: 96px;
  border-radius: 5px;
  background-color: #fff;
}
.dragdiv-wrap {
  width: 100vw;
  height: 100vh;
  // margin-left: -500vw;
  // margin-top: -500vh;
  background-image: linear-gradient(0deg, #d6eaf8, #5dade2);
  // animation: 20s loop-animation infinite;
}
.tips-wrap {
  text-align: center;
  display: flex;
  justify-content: center;
}
.tips {
  // transform: translate();
  color: #fff;
  opacity: 0;
  transition: 1s;
}
.show-tips {
  color: #333;
  opacity: 1;
}
@keyframes loop-animation {
  0% {
    // height: 100vh;
    // opacity: 1;
    // transitio
    transform: rotate($degzero);
    // background-image: linear-gradient($degzero, #d6eaf8, #5dade2);
  }
  50% {
    transform: rotate($deg180);
    // opacity: 0;
    // height: 10vh;
    // background-image: linear-gradient($deg90, #d6eaf8, #5dade2);
  }
  100% {
    transform: rotate($deg360);
    opacity: 1;
    // background-image: linear-gradient($deg180, #d6eaf8, #5dade2);
  }
}
