.chat-details {
  height: 100vh;
  overflow: auto;
  .chat-wrap{
    
    background-color: #f0f0f0;
    padding-bottom: 50px;
  }
  .detail-content{
    overflow: hidden;
    padding: 5px;
    line-height: 1;
    .left,.right{
      display: flex;
    }
    .left{
      left: 0px;
      .nameandwords{
        margin-left: 10px;
      }
    }
    .right{
      right: 0px;
      text-align: right;
      flex-direction: row-reverse;
      .nameandwords{
        margin-right: 10px;
      }
    }
    .nick-name{
      font-size: 12px;
      color: #aaa;
      margin-bottom: 5px;
    }
    .chat-words,.own-chat-words{
      border-radius: 5px;
      line-height: 1.4;
      font-size: 14px;
      padding: 5px;
      max-width: 300px;
      background-color: #fff;
    }
    .chat-words{
      font-size: 16px;
    }
    .own-chat-words{
      background-color: #0f0;
    }
  }
}
