.findpage-wrap {
  background-color: #f0f0f0;
  min-height: 100vh;
  .findpage-item {
    display: flex;
    height: 55px;
    line-height: 55px;
    margin-bottom: 10px;
    background-color: #fff;
  }
  .findpage-left-wrap {
    display: flex;
    align-items: center;
    p {
      margin-left: 10px;
    }
  }
  .findpage-icon {
    // display: flex;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: red;
    margin-left: 10px;
  }
}
